@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none; /* Prevent whitespace after scrolling to the edges of the page */
}

body {
  font-size: 10px;
  overflow-x: auto;
  background: url('../images/background_image');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto';
}

.container {
  display: flex;
  flex-direction: column;
}

/* -----------------------
   HEADER
   ----------------------- 
*/

.header-container {
  display: flex;
  background: rgba(0, 0, 0, 0.32);
  height: 3.5em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.left-action-items {
  top: 0.3em;
  position: inherit;
  color: white;
  display: inherit;
  left: 0.5em;
}

.icon-wrapper {
  width: 3.5em;
  justify-content: center;
}

.action-button {
  padding: 0 1em 0 1em;
}

.action-btn-text,
.btn-text {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.action-btn-text.bold {
  font-weight: bold;
}

.icon-wrapper,
.action-button {
  padding: 1em;
  border-radius: 0.3em;
  height: 3em;
  background: rgba(255, 255, 255, 0.24);
  justify-content: center;
  align-items: center;
}

.icon-wrapper,
.action-button,
.avatar-header {
  margin-left: 0.5em;
  cursor: pointer;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.24);
}

.icon-wrapper:hover,
.action-button:hover,
.avatar-header:hover {
  background: rgba(255, 255, 255, 0.2);
}

.input-wrapper {
  position: relative;
  margin-left: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
}

.input-wrapper:hover {
  background: rgba(255, 255, 255, 0.5);
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  box-shadow: none;
  padding-right: 5.4em;
  width: 15em;
}

.search-icon {
  position: absolute;
  right: 0.5em;
  bottom: 25%;
  font-size: 1.3em;
}

.logo-wrapper {
  position: absolute;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 3em;
  left: 50%;
}

.logo {
  opacity: 0.5;
}

.logo:hover {
  opacity: 1;
}

.logo,
.logo:hover {
  background: url('../images/trello-logo.png');
  background-size: 8em 3em;
  background-position: 100% 0;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 8em;
  margin-top: 0.3em;
}

.right-action-items {
  top: 0.2em;
  position: absolute;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 27%;
  height: 3em;
  right: 0.5em;
}

.avatar-header {
  width: 3em;
  border-radius: 50%;
}

i {
  /* Set the below font-size as default for icons */
  font-size: 1.5em;
}

/* -----------------------
   END HEADER
   ----------------------- 
*/

/* -----------------------
   BOARD HEADER
   ----------------------- 
*/

.board-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3.5em;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
  color: white;
  padding: 0.6em 0.8em;
  width: 100%;
}

.board-title {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0.5em 1.2em;
}

.icon-wrapper.star {
  color: #f2d600;
  margin-left: 0;
}

.board-header-left-btns-wrapper,
.board-header-right-btns-wrapper {
  display: flex;
  align-items: center;
  width: auto;
}

.btn-divider {
  float: left;
  border-left: 1px solid hsla(0, 0%, 100%, 0.24);
  height: 1.6em;
  margin: 1em 0.8em 1.2em 0.8em;
}

.action-button.personal {
  background: none;
  padding: 0;
  font-size: 1.5em;
}

.action-button.personal,
.action-button.private {
  border: 0;
  color: white;
}

.avatar {
  background: white;
  border-radius: 50%;
  display: inline-flex;
  width: 3em;
  height: 3em;
  position: relative;
}

.action-button.invite {
  margin-left: 1em;
  padding: 0 1.2em;
}

.btn-text.invite {
  margin: 0;
}

.board-header-right-btns-wrapper {
  position: absolute;
  display: flex;
  right: 1em;
  width: 200px;
  height: 50px;
  justify-content: flex-end;
}

.action-button.butler,
.action-button.menu {
  position: absolute;
}

.action-button.butler {
  right: 12.5em;
}

.action-button.menu {
  right: 0;
}

/* -----------------------
   END BOARD HEADER
   ----------------------- 
*/

/* -----------------------
   BOARD CONTENT
   ----------------------- 
*/

.board-content {
  position: absolute;
  width: auto;
  height: 80vh;
  top: 9.2em;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.list-content {
  margin: 0 1em;
  background-color: #ebecf0;
  width: 27em;
  border-radius: 0.3em;
}

.list-header {
  width: 100%;
  height: 4em;
  position: relative;
  display: flex;
  align-items: center;
}

.list-header-title {
  position: absolute;
  color: #172b4d;
  font-size: 1.5em;
  font-weight: 500;
  left: 1em;
  top: 0;
}

.list-header i {
  position: absolute;
  right: 1em;
  opacity: 0.3;
  font-size: 1.3em;
}

.list-cards-wrapper {
  width: 100%;
  max-height: 90%;
  overflow-y: auto; /* Add vertical scrolling */
}

.list-card-details {
  background-color: #fff;
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  padding: 1em 1em;
  margin-bottom: 1.5em;
}

.list-card-details i {
  position: relative;
  opacity: 0.5;
  left: 0.5em;
  font-size: 1.2em;
}

.list-card-member-title {
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
}

.badge-text {
  font-size: 1.2em;
  margin-left: 1em;
  color: #5e6c84;
}

.list-card-cover {
  background: url('https://trello-attachments.s3.amazonaws.com/5d3140ea9718e761833b8990/300x229/c2d703b28120aa27afef6cef0593b420/image.png');
  background-size: cover;
  height: 20em;
  width: 95%;
  margin: 0 auto;
}

.list-card-details.cover {
  background-color: #ebecf0;
}

/* -----------------------
   END BOARD CONTENT
   ----------------------- 
*/
