@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background: url('../images/background_image');
  background-size: 100%;
  font-family: 'Roboto';
}

.container {
  display: flex;
  flex-direction: column;
}

/* -----------------------
   HEADER
   ----------------------- 
*/

.header-container {
  display: flex;
  background: rgba(0, 0, 0, 0.32);
  height: 3.5em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.left-action-items {
  top: 0.3em;
  position: inherit;
  color: white;
  display: inherit;
  left: 0.5em;
}

.right-action-items {
  top: 0.2em;
  position: absolute;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 27%;
  height: 3em;
  right: 0.5em;
}

.icon-container,
.btn-md {
  padding: 1em;
  border-radius: 0.3em;
  height: 3em;
  background: rgba(255, 255, 255, 0.24);
  justify-content: center;
  align-items: center;
}

.icon-container,
.btn-md,
.rounded-avatar-top {
  margin-left: 0.5em;
  cursor: pointer;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.24);
}

.icon-container:hover,
.btn-md:hover,
.rounded-avatar-top:hover {
  background: rgba(255, 255, 255, 0.2);
}

.icon-container {
  width: 3.5em;
  justify-content: center;
}

.rounded-avatar-top {
  width: 3em;
  border-radius: 50%;
}

.btn-md {
  padding: 0 1em 0 1em;
}

i {
  font-size: 1.5em;
}

#boards,
.btn-text {
  font-size: 1.5em;
  margin-left: 0.5em;
}

#boards {
  font-weight: bold;
}

.input-box {
  position: relative;
  margin-left: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
}

.input-box:hover {
  background: rgba(255, 255, 255, 0.5);
}

.input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  box-shadow: none;
  padding-right: 5.4em;
  width: 15em;
}

.app-search {
  position: absolute;
  right: 0.5em;
  bottom: 25%;
  font-size: 1.3em;
}

.logo-container {
  position: absolute;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 3em;
  left: 50%;
}

.trello-logo,
.trello-logo:hover {
  background: url('../images/trello-logo.png');
  background-size: 8em 3em;
  background-position: 100% 0;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 8em;
  margin-top: 0.3em;
}

.trello-logo {
  opacity: 0.5;
}

.trello-logo:hover {
  opacity: 1;
}

.board-header {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
  color: white;
  padding: 0.6em 0.8em;
  height: auto;
  width: 100%;
  top: 3.5em;
}

.board-title {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0.5em 1.2em;
}

.icon-container.star {
  color: #f2d600;
  margin-left: 0;
}

.btn-divider {
  float: left;
  border-left: 1px solid hsla(0, 0%, 100%, 0.24);
  height: 1.6em;
  margin: 1em 0.8em 1.2em 0.8em;
}

.board-header-left-btns-wrapper,
.board-header-right-btns-wrapper {
  display: flex;
  align-items: center;
  width: auto;
}

.personal-btn,
.private-btn {
  border: 0;
  color: white;
  font-size: 1.5em;
}

.personal-btn {
  background: none;
}

.private-btn {
  padding: 0 2em;
  border-radius: 0.3em;
  height: 3em;
  background: rgba(255, 255, 255, 0.24);
}

.rounded-avatar {
  background: white;
  border-radius: 50%;
  display: inline-flex;
  width: 3em;
  height: 3em;
  position: relative;
}

.btn-text.invite {
  margin: 0;
}

.btn-md.invite {
  margin-left: 1em;
  padding: 0 1.2em;
}

.btn-md.private {
  margin-left: 0;
}

.board-header-right-btns-wrapper {
  position: absolute;
  display: flex;
  right: 1em;
  width: 200px;
  height: 50px;
  justify-content: flex-end;
}

.btn-md.butler {
  position: absolute;
  right: 12.5em;
}

.btn-md.menu {
  position: absolute;
  right: 0;
}
